.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.chart{
  flex:1;
  max-width: 36rem;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
