<div class="app-header">
  <span>Group By:</span>
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    [(value)]="roomDayToggle"
  >
    <mat-button-toggle value="room">Room</mat-button-toggle>
    <mat-button-toggle value="day">Day</mat-button-toggle>
  </mat-button-toggle-group>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="openSensorFileBtn()">
    Open Sensor File
  </button>
  <button mat-raised-button color="accent">Start Simulation</button>
  <button mat-raised-button color="accent">Stop Simulation</button>
</div>

<app-chart
  *ngIf="allInsights"
  [allInsights]="allInsights"
  [roomDayToggle]="roomDayToggle"
></app-chart>
