<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>CADIT Assessment Test App</mat-card-title>
      <mat-card-subtitle>Jeremy Marvin Christian</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      penjelasan lebih lanjut
    </mat-card-content>
  </mat-card>
  <br>
  <div class="box-menu-container">
    <button mat-raised-button routerLink="/salary" class="box-menu">Salary Converter</button>
    <button mat-raised-button routerLink="/sensor" class="box-menu">Sensor Insights</button>
  </div>
</div>
