<div class="container">
  <mat-card>
    <mat-card-title>Salary Converter App</mat-card-title>
    <mat-card-content>
      Instructions:
      <ol>
        <li>Input the user data json link in the input form above the buttons.</li>
        <li>
          Click on the "Fetch User Data" button to fetch the data and generate table.
        </li>
        <li>
          Click on the "Add Salary Data" button to select the salary file to update the table.
        </li>
      </ol>
      <div class="app-header">
        <mat-form-field class="no-hint max-width">
          <mat-label>User Data Link</mat-label>
          <input matInput type="link" [(ngModel)]="dataSourceLink" />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="accent"
        [disabled]="disableFetchBtn"
        (click)="fetchUserBtn(dataSourceLink)"
      >
        Fetch User Data
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="disableOpenSlryBtn"
        (click)="openSalaryBtn()"
      >
        Open Salary Data
      </button>
    </mat-card-actions>
  </mat-card>
  <table mat-table [dataSource]="userDatas" class="mat-elevation-z8 mat-small">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let user">
        {{ user.address.street }}, {{ user.address.suite }},
        {{ user.address.city }}, {{ user.address.zipcode }}
      </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>
    <ng-container matColumnDef="salaryInIDR">
      <th mat-header-cell *matHeaderCellDef>Salary in IDR</th>
      <td mat-cell *matCellDef="let user">Rp. {{ user.salaryInIDR }}</td>
    </ng-container>
    <ng-container matColumnDef="salaryInUSD">
      <th mat-header-cell *matHeaderCellDef>Salary in USD</th>
      <td mat-cell *matCellDef="let user">${{ user.salaryInUSD }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
